<head>
    <meta charset="utf-8"/>
    <title>Summer Market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Summer Market</h1>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Cost</td>
            <!--<td>add</td>
           <td>remove</td>-->
       </tr>
       </thead>
       <tbody>

           <!-- список продуктов -->
        <tr th:each = "p:${items}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.title}"></td>
            <td th:text="${p.cost}"></td>
            <td>
                <a class="btn btn-primary" a th:href="@{/info/{id}(id=${p.id})}">product info</a>
            </td>
            <td>
                <a class="btn btn-primary" a th:href="@{/delete/{id}(id=${p.id})}">delete</a>
            </td>
 <!--          <td>
                <a class="btn btn-primary" th:block th:text="${cartService.addProduct(1)}">add product</a>
            </td>
            <td>
                <a class="btn btn-primary" th:block th:text="${cartService.removeProduct({id})(id=${p.id}}">add product</a>
            </td> -->

        </tr>

        </tbody>
    </table>
    <a th:href="@{/new_product}">Create new product</a>
</div>
</body>
</html>0